# Python Einführung
erster Teil

In [1]:
2 + 2

4

In [2]:
print("moin!")

moin!

In [3]:
x = 2
y = 3
x + y

5

# Datentypen

In [4]:
# string
text = "Library Carpentry"
# integer (Ganzzahl)
number = 42
# float (Gleitkommazahl)
float = 3.141

# Vergleiche
auch "true" und "false" sind in Python Datentypen (Boolean)

In [5]:
3 > 4

False

In [6]:
5 == 5

True

In [7]:
5 < 6

True

# Container

In [8]:
# Liste
my_numbers = [1, 2, 3]

In [9]:
# erstes Element ist Nr. 0
my_numbers[0]

1

In [10]:
# Anzahl der Elemente in der Liste
len(my_numbers)

3

In [16]:
my_name = "Stefan"

In [17]:
# Anzahl der Zeichen
len(my_name)

6

In [12]:
# Einsatz einer "Methode" mit .
my_name.upper()

'STEFAN'

In [19]:
my_name_capital = my_name.upper()

In [21]:
my_name_capital.lowwer()

AttributeError: 'str' object has no attribute 'lowwer'

# For-Schleife

In [22]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    print(number)

1
2
3

In [25]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    number_plus_one = number + 1
    print(number_plus_one)
    # ausgeführt wird alles Eingerückte(!)
print ("our loop finished")

2
3
4
our loop finished

# Key-Value-Paare
Wichtig: Der Key muss eindeutig sein!
Es wird der jeweils letzte einem Key zugeordnete Value verwendet (siehe das zweite Beispiel).

In [26]:
authors_and_books ={"Ende" : "Momo", "Tolkien" : "Der Herr der Ringe", "Heinlein" : "Die Tür in den Sommer"}

In [28]:
authors_and_books["Ende"]

'Momo'

In [31]:
authors_and_books ={"Ende" : "Momo",
                    "Tolkien" : "Der Herr der Ringe",
                    "Heinlein" : "Die Tür in den Sommer",
                    "Ende" : "Die unendliche Geschichte"}

In [32]:
authors_and_books["Ende"]

'Die unendliche Geschichte'

# Funktionen
für wiederholbare Teile
DRY = Don't Repeat Yourself

In [33]:
def sub_function(a, b):
    result = a - b
    return result

In [35]:
sub_function(5, 2)

3

In [36]:
my_result = sub_function(328226, 163372)

In [37]:
print(my_result)

164854

# Conditionals

In [43]:
temp = -7
if temp > 20:
    print("es ist warm")
elif temp < 5:
    print("es ist kalt")
else:
    print ("es ist mild")

es ist kalt